<div class="container-sm my-5">
  <div class="d-flex gap-3">
    <button
      id="btt_RUN_M1"
      class="btn btn-primary"
      onclick="socket.emit('Client-send-cmdM1', true);"
    >
      RUN MOTOR 1
    </button>
    <button
      id="btt_STOP_M1"
      class="btn btn-primary"
      onclick="socket.emit('Client-send-cmdM1', false);"
    >
      STOP MOTOR 1
    </button>
  </div>
  <form class="mt-3">
    <div class="mb-3">
      <label for="Bool" class="form-label">Tag dạng Bool:</label>
      <input class="form-control" id="Bool" disabled />
    </div>
    <div class="mb-3">
      <label for="Byte" class="form-label">Tag dạng Byte:</label>
      <input class="form-control" id="Byte" disabled />
    </div>
    <div class="mb-3">
      <label for="Integer" class="form-label">Tag dạng Integer:</label>
      <input class="form-control" id="Integer" disabled />
    </div>
    <div class="mb-3">
      <label for="Real" class="form-label">Tag dạng Real:</label>
      <input class="form-control" id="Real" disabled />
    </div>
    <div class="mb-3">
      <label for="String" class="form-label">Tag dạng String:</label>
      <input class="form-control" id="String" disabled />
    </div>
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
  </form>
  <img id="Pump_1" src="images/symbols/Pump1_0.png" />
</div>

<script src="socket.io/socket.io.js"></script>
<script src="javascript/main.js"></script>
